{%extends 'base.html' %}{% load staticfiles %} {% block content %}
<!-- tab bar -->
<section id="contact-section">
    <div class="container padtop">
		<a class="breadcrumb" href="/">{{breadcrumb}}</a>
		
		<h2 class="subtitle">{{title}}</h2>

	<div class="row">
            <div class="col-md-12">
                <h2 class="subtitle">The AMG Team</h2>

                <!-- Description -->
                <!-- TODO: create a new row every 4 member -->
                <div class="row">
                
					<!-- column for each member -->
					{% for member in members %}
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>{{member.name}}</h3>
	                      <div class="member-portrait">
	                          <a href="{{member.get_absolute_url}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="/uploads/{{member.portrait.url}}">
	                      </div>
	                      <p>
	                      {{member.position}}
	                      </p>
	                  </div>
					</div>
					{% endfor %}
	                
					<!-- Leave below for dev purposes -->
					
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                                <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				     <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- second row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
				      	 <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				  <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- third row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	 <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				  <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- fourth row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                           <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                                <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>  
				<img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- fifth row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          	<a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                            <a href="{{person.slug}}">
                          		<span class="hvr-rectangle-out">
                            		View Bio
                          		</span>
                          		</a>
				      <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- sixth row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- seventh row -->
              <div class="row">
                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	                <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
	                
	                
	               <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                

              </div>

              <!-- eigth row -->
              <div class="row">
                
                	<!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                
                
                 <!-- column for each member -->
	                <div class="col-lg-3 col-sm-6">
	                  <div class="member">
	                    <h3>Name</h3>
	                      <div class="member-portrait">
	                          <img class="img-responsive roundimg" src="">
	                      </div>
	                      <p>
	                          Short bio
	                      </p>
	                  </div>
	                </div>
                
              </div>

        </div>
    </div>

	<!-- On click popup profile -->
		<!-- TEMPLATE FOR POPUP -->
		<!-- Name -->
		<!-- image -->
		<!-- position -->
		<!-- bio to the right(program, year, bio)-->


	<!-- links to AMG social media -->

	</div>


{% endblock %}
