@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo);
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
}


/*Center all member text*/
.member{
  text-align:center;
}

.member-portrait{
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}

/*Portrait List image*/
.member-portrait img{
  width: 100%;
  height: 250px;
  /*padding: 7px;*/
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

.member-portrait:hover img{
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.hvr-rectangle-out{
  cursor: pointer;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  background: #A32632;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  visibility: hidden;
  opacity: 0;
  position:absolute!important;
  top:42%;
  left:27%;
  z-index: 1000;
  color: white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:25px;
}
@media only screen and (max-width: 500px) {
  .hvr-rectangle-out{
    left:33%;
  }
}
@media only screen and (min-width:501px) and (max-width: 600px) {
  .hvr-rectangle-out{
    left:39%;
  }
}
@media only screen and (min-width:601px) and (max-width: 768px) {
  .hvr-rectangle-out{
    left:40%;
  }
}
@media only screen and (min-width:769px) and (max-width: 991px) {
  .hvr-rectangle-out{
    left:42%;
  }
}

.member-portrait:hover .hvr-rectangle-out{
  visibility: visible;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
}
